<!-- <div>
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">{{labels.ENQUIRY_STATUS}}</h1>
		</div>
		/.col-lg-12
	</div>
	/.row
	<div class="row">

		<stats number="{{leadStatuses.TOTAL_ENQUIRIES}}"
			comments="{{labels.TOTAL}}" colour="primary" type="list-alt"
			status="0"></stats>
		<stats number="{{leadStatuses.CURRENT_MONTH_ENQUIRIES}}"
			comments="{{labels.NEW}}" colour="yellow"
			type="fa fa-pencil-square-o" status="1"></stats>
		<stats number="{{leadStatuses.POTENTIAL_ENQUIRIES}}"
			comments="{{labels.POTENTIAL}}" colour="green" type="check-circle"
			status="2"></stats>
		<stats number="{{leadStatuses.TOTAL_UNATTENDED_ENQUIRIES}}"
			comments="{{labels.UNATTENDED}}" colour="red"
			type="exclamation-triangle" status="3"></stats>


	</div>

	<div class="panel panel-default">
		<div class="panel-heading">{{labels.CHARTS}}</div>
		/.row
		<div class="panel-body">
			<div class="col-xs-6">
				<div class="panel panel-default">
					<div class="panel-heading">{{labels.AREA}} {{labels.CHART}}</div>
					/.panel-heading
					<div class="panel-body">
						<div id="area-example"></div>

					</div>
					/.panel-body
				</div>

				/.panel
							<div class="panel panel-default">
					<div class="panel-heading">{{labels.BAR}} {{labels.CHART}}</div>
					/.panel-heading
					<div class="panel-body">
						<div id="bar-example"></div>
					</div>
					 /.panel-body
					/.panel
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">{{labels.LINE}} {{labels.CHART}}</div>
						/.panel-heading
					<div class="panel-body">
						<div id="line-example" style="height: 250px;"></div>
					</div>
						/.panel-body
				</div>
				/.panel

				<div class="panel panel-default">
					<div class="panel-heading">{{labels.DONUT}} {{labels.CHART}}</div>
					/.panel-heading
					<div class="panel-body">
						<div id="donut-example"></div>
					</div>
					/.panel-body
				</div>
				<div id="donutchart" style="width: 900px; height: 500px;"></div>
			</div>
			/.panel
		</div>
		/.row
	</div>


	/.panel

</div>
 -->